<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sample Project</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<!-- Button to clear selection -->
<button
  (click)="clearSelection()"
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
>
  <mat-icon>delete</mat-icon>
</button>
<br /><br />

<!-- AG Grid Angular Component -->
<ag-grid-angular
  style="width: 600px; height: 500px; align-content: center"
  class="ag-theme-alpine"
  [pagination]="true"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
></ag-grid-angular>

<router-outlet>
  <button mat-button [matMenuTriggerFor]="menu">
    <a routerLink="/">Home</a>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="/about">About</a></button>
    <button mat-menu-item><a routerLink="/contact">Contact</a></button>
  </mat-menu>
</router-outlet>
